<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1>WebSocket Test Page (For Test Profile)</h1>
<div>
    <input type="text" id="message" placeholder="Enter message"/>
    <button onclick="sendMessage()">Send</button>
</div>
<hr>
<div>
    <h2>Received Messages:</h2>
    <div id="received-messages"></div>
</div>

<script>
    let stompClient = null;
    const receivedMessages = document.getElementById('received-messages');

    function connect() {
        const socket = new SockJS('http://localhost:8080/api/v1/ws'); // WebSocketConfig에 설정된 엔드포인트
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            // 메시지를 수신할 토픽을 구독합니다. 필요에 따라 경로를 수정하세요.
            stompClient.subscribe('/api/v1/chat/topic/1', function (message) {
                showMessage(JSON.parse(message.body).content);
            });
        });
    }

    function sendMessage() {
        const messageInput = document.getElementById('message');
        const message = messageInput.value;
        // 메시지를 보낼 서버의 목적지를 설정합니다. 필요에 따라 경로를 수정하세요.
        stompClient.send("/api/v1/chat/app/send/1", {}, JSON.stringify({
            "sender": "test",
            'content': message,
            "attachmentId" : 0
        }));
        messageInput.value = '';
    }

    function showMessage(message) {
        const p = document.createElement('p');
        p.textContent = message;
        receivedMessages.appendChild(p);
    }

    window.onload = connect;
</script>
</body>
</html>
